<div class="main posts-show">
  <p id="notice">
    <%= notice %>
  </p>
  <div class="page-logo">
    <h1>Show Coment</h1>
  </div>
  <div class="container">
    <div class="posts-show-item">
      <div class="post-icon">
        <%= image_tag @coment.user.icon %>
      </div>
      <div class="post-user-name">
        ＜<%= @user.name %>
      </div>
      <p class="post-coment">
        <%= @coment.content %>
      </p>
      <div class="post-image">
        <%= image_tag @coment.image %>
      </div>
      <div class="post-time">
        <%= @coment.created_at.strftime('%Y/%m/%d %H:%M')%>
      </div>
      <div class="post-menus">
        <% unless @coment.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%= link_to 'favorite?', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-warning' %>
          <% else %>
            <%= link_to 'favorite!', favorites_path(coment_id: @coment.id), method: :post, class: 'btn btn-info' %>
          <% end %>
        <% end %>
        <% if @coment.user_id == current_user.id %>
          <%= link_to 'Edit', edit_coment_path(@coment) ,class: 'btn btn-info'%>
        <% end %>
        <%= link_to 'Back', coments_path ,class: 'btn btn-warning'%>
      </div>
    </div>
  </div>
</div>
