<div class="main">
  <div class="page-logo">
    <h1>Login User : <%= @user.name %></h1>
  </div>

  <div class="container">
    <div class="user">
      <div class="icon">
        <%= image_tag @user.icon %>
      </div>
      <div>
        <p>Name : <%= @user.name %></p>
      </div>
      <div>
        <p>Email : <%= @user.email %></p>
      </div>
    </div>

    <div class="favorites">
      <h3>Favorites!</h3>
      <div class="fav-list-item">
        <% @favorites_coments.each do |favorites_coment| %>
        <div class="fav-user-name">
          [<%= favorites_coment.user.name %>]
        </div>
        <p class="fav-coment">
          ><%= favorites_coment.content %>
          <%= link_to "show", coment_path(favorites_coment.id),class: 'btn btn-info' %>
        </p>
      <% end %>
      </div>
    </div>
  </div>
</div>
