<!DOCTYPE html>
<html>
  <head>
    <title>Clone</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <div class="header-logo">
        <h1><a href="/">Coments!</a></h1>
      </div>
      <ul class="header-menus">
        <li><%= link_to '> All Coment', coments_path %></li>
        <li><%= link_to '> New Coment', new_coment_path %></li>
      </ul>
    </header>

    <% if notice %>
      <div class = "flash">
        <%= notice %>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <p>*+:｡.｡create_by_remixk13｡.｡:+*</p>
      <p>It becomes portfolio. Thank you for viewing！</p>
    </footer>

  </body>
</html>
